<div class="col description">
    <p *ngIf="user.about"> {{user.about}}</p>
    <p *ngIf="user.about == null">
        <!---
        hey my id is : {{user._id}}
       
        and my name is : {{user.username}}-->
        Tunisian JS-Community run by volunteers. We discuss about javascript ecosystem , 
        tips and tricks each month in Tunisia. We are happy to be a part of CreativCollab project 
        and we are open for sponsoring and contribution for open source projects  
</p>
<button *ngIf="item">edit</button>
</div>