
.description{
    text-align:center;
    margin-top: 29px;
  }

  p{
    margin-top: -15px;
    font-size: 1.3em;
    font-family: 'Courier New', monospace;
  }

  .btn-get-started {
   
    line-height: 0;
    padding: 15px 15px;
    border-radius: 4px;
    transition: 0.5s;
    color: rgb(39, 39, 39);
    background: #41f190;
    box-shadow: 0px 5px 30px rgba(241, 65, 174, 0.4);
  }