  <!-- ======= Recent Blog Posts Section ======= -->
  <app-navbar></app-navbar>
  <section id="recent-blog-posts" class="recent-blog-posts">

    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Associations</h2>
        <p>Discover with us </p>
      </header>
      <div class="row">
        <div *ngFor="let user of data" class="col-lg-4">
          <div class="post-box">
           
            <div class="post-img" *ngIf="user.avatar != null">
              <img src="assets/img/avatar/{{user.avatar}}" class="img-fluid" alt="" style="
            max-width: 300px;max-height: 200px;display: block;margin-left: auto;margin-right: auto;
            "></div>

<div class="post-img" *ngIf="!user.avatar">
  <img src="assets/img/avatar/avatar4.png" class="img-fluid" alt="" style="
max-width: 300px;max-height: 200px;display: block;margin-left: auto;margin-right: auto;
"></div>
            <span class="post-date">{{user.username}}</span>
            <h3 class="post-title">{{user.mail}}</h3>
            <a href="blog-singe.html" class="readmore stretched-link mt-auto" routerLink="/profile/{{user._id}}"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Recent Blog Posts Section -->