<app-navbar></app-navbar>

<!-- ======= about Section ======= -->
<section id="values" class="values">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h2>Our Values</h2>
            <p>What are you looking for ? </p>
        </header>

        <div class="row">

            <div class="col-lg-4">
                <div class="box" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/entreprise.png" class="img-fluid" alt="">
                    <h3>Entreprises and startups.</h3>
                    <p>You will find with us a list of entreprises and startups.</p>
                    <a href="#values" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>Discover</span>
                        <i class="bi bi-arrow-right"></i>
                      </a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="400">
                    <img src="assets/img/association.png" class="img-fluid" alt="">
                    <h3>Associations and communities.</h3>
                    <p>A list of associations and communities is provided for you.</p>
                    <a href="#values" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>Discover</span>
                        <i class="bi bi-arrow-right"></i>
                      </a>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="fade-up" data-aos-delay="400">
                    <img src="assets/img/formateur.png" class="img-fluid" alt="">
                    <!--        <br><br> <br> -->
                    <h3>Traineers and speekers.</h3>
                    <p>Discover with us the skills and different domain of traineers and speekers.</p>
                    <a href="#values" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                        <span>Discover</span>
                        <i class="bi bi-arrow-right"></i>
                      </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End about Section -->