<div class="col">
    <div class="card card-pricing card-raised bg-rose">
        <div class="card-body">
            <h6 class="card-category text-info" style="color: #000 !important;"> Skills panel</h6>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="icon-male"></i> Public speeking</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="icon-laptop"></i> Web development</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i> kubernate</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="icon-tasks"></i> Docker</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="icon-gbp"></i> Blockchaine</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="icon-stackexchange"></i> Workshops animator</a>
    
        </div>
        <a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Update my skills</span>
            <i class="bi bi-arrow-right"></i>
          </a>
    </div>
</div>