<div class="col">
    <div class="card card-pricing card-raised bg-rose">
        <div class="card-body">
            <h6 class="card-category text-info" style="color: #000 !important;">Skills panel</h6>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
            <a class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
    
        </div>
        <a href="#values" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Start Now</span>
            <i class="bi bi-arrow-right"></i>
          </a>
    </div>
</div>