<div class="col">
    <div class="card card-pricing card-raised bg-rose">
        <div class="card-body">
            <!-- <h6 class="card-category text-info">Contact</h6> -->
            <ul>
                <li><a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i>fgbgdbg</a>
                </li>
                <li><a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i>fbdgfb</a>
                </li>
                <li><a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i
                            class="fa fa-pinterest"></i>dbgfb</a></li>
            </ul>
        </div>
    </div>
</div>