<div class="modal-header">
    <h4 class="modal-title">Create Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="createEventForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" formControlName="introduction"></textarea>
        </div>
        <div class="form-group ">
            <label for="exampleInputEmail1">Date</label>
            <input type="date" class="form-control" id="exampleInputEmail1" formControlName="date"
                aria-describedby="emailHelp" placeholder="Enter date">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Inscription link</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="link"
                aria-describedby="emailHelp" placeholder="Enter Inscription link">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Place</label>
            <select class="form-control" formControlName="lieu">
                <option value="sousse">Sousse</option>
                <option value="Mehdia">Mehdia</option>
                <option value="Monastir">Monastir</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Hashtag1</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="hashtag"
                aria-describedby="emailHelp" placeholder="exemple #Digital">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Hashtag2</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="hashtag2"
                aria-describedby="emailHelp" placeholder="exemple #Community">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Hashtag3</label>
            <input type="text" class="form-control" id="exampleInputEmail1" formControlName="hashtag3"
                aria-describedby="emailHelp" placeholder="exemple #Blockchain">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="CreateEvent()">Send</button>
            <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
        </div>
    </form>
</div>