<div class="modal-header">
    <h4 class="modal-title">list of invitations</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">  
    <div class="list-invitations">
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-4">
                invitation to Meetup ...
            </div>
            <div class="col col-lg-8  col-md-8 col-sm-8">
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary" (click)="successNotification()">Accept</button>
                    <button type="submit"  class="btn btn-danger" (click)="alertConfirmation()">view detail</button>
                    <button type="submit"  class="btn btn-danger" (click)="alertConfirmation()">Refuse</button>
                </div> 
            </div>           
        </div>

        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-4">
                invitation to Meetup ...
            </div>
            <div class="col col-lg-8  col-md-8 col-sm-8">
                <div class="modal-footer">
                    <button type="submit"  class="btn btn-primary" (click)="successNotification()">Accept</button>
                    <button type="submit"  class="btn btn-danger" (click)="alertConfirmation()">view detail</button>
                    <button type="submit"  class="btn btn-danger" (click)="alertConfirmation()">Refuse</button>
                </div> 
            </div>           
        </div>
    </div>

        
</div>