<div class="card-body">
  <div class="row">
    <div class="col ml-auto">
      <div class="info info-horizontal">
        <div class="icon icon-primary">
          <i class="material-icons">code</i>
        </div>
        <div class="description">
          <h4 class="info-title">10th meetup: Aid talk</h4>
          <p class="description">
            The meetup was hosted online due to the quarantine we have invited a Customer Engineer at Microsoft Mr.Houssem Delai 
            It was such a fun and informative discussion.           
          </p>
        </div>
      </div>
    </div>
  </div>
</div>