<div class="card-body">
  <div class="row">
    <div class="col ml-auto">
      <div class="info info-horizontal">
        <div class="icon icon-primary">
          <i class="material-icons">code</i>
        </div>
        <div class="description">
          <h4 class="info-title">Fully Coded in HTML5</h4>
          <p class="description">
            We've developed the website with HTML5 and CSS3. The client has access to the code using
            GitHub.
          </p>
          <a class=" post-box readmore stretched-link mt-auto" (click)="openEvent()"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>