<div class="modal-header">
    <h4 class="modal-title">Create Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="EditEventForm">
        
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <textarea class="form-control" formControlName="EventName"></textarea>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" formControlName="EventDescription"></textarea>
        </div>

        <div class="form-group ">
            <label for="exampleInputEmail1">Date</label>
            <input type="date" class="form-control" formControlName="EventDate" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter object">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">inscription link</label>
            <input type="text" class="form-control" formControlName="InscriptionLink" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter object">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">place</label>
            <select class="form-control">
                <option>Lieu</option>
            </select>
        </div>


    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">Edit</button>
    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>